.send-button {
  background-color: rgb(25, 135, 84);
  color: white;
  padding: 12px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

.chat-input {
  padding: 12px 15px;
  border-radius: 10px;
  font-size: 15px;
  border-width: 1px;
  flex-grow: 1;
}

.chat-input-container {
  margin-bottom: 20px;
  display: flex;
}

.app-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  height: 100vh;
  /* margin-bottom: 100px; */
  display: flex;
  flex-direction: column;
}

.chat-message-user {
  display: flex;
  justify-content: end;
  align-items: start;
}

.chat-message-robot {
  display: flex;
  justify-content: start;
  align-items: start;
}

.chat-message-text {
  background-color: rgb(238, 238, 238);
  padding: 15px 20px;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  border-width: 1px;
  max-width: 300px;
}

.chat-message-profile {
  width: 45px;
}

.chat-messages-container {
  /* flex-grow: 1; */
  height: 80%;
  margin-top: 1px;
  margin-bottom: 0px;
  overflow: scroll;
  scrollbar-width: none;
  /* border: 5px solid rgb(175, 17, 17); */
}

.link-container {
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}